@using Lychee.Stocks.InvestagramsApi.Constants
@model ICollection<Lychee.Stocks.InvestagramsApi.Models.Stocks.SuspendedStock>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@string.Format(UrlConstants.InvestagramsStockUrl, item.StockCode)" target="_blank">@item.StockCode</a>
                </td>
            </tr>
        }
    </tbody>
</table>