@model List<Lychee.Stocks.InvestagramsApi.Models.Stocks.ScreenerResponse>


@{
    ViewBag.Title = "MACD Crossing Signal From Below (Bullish)";
}

<h2>MACD Crossing Signal From Below (Bullish)</h2>

@Html.Partial("_ScreenerResponseMACD", Model)