@model Lychee.Stocks.Models.LastDataUpdateViewModel
    
<div class="pull-right data-updates">
    <div>
        Last Stock History Update: @Model.LastStockHistoryUpdate.ToShortDateString()
    </div>
</div>