body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.data-updates {
    margin-right: 20px;
}


.color-downtrend {
    color: red;
}

.color-even {
    color: inherit;
}

.color-uptrend {
    color: green;
}

.color-blue {
    color: blue;
}

#nav-header .color-white {
    color: white;
}

.report-stock-highlight {
    background-color: #caffc0;
}

.page-heading h1 {
    margin-top: 0;
    color: #fff;
    font-family: pt sans caption,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.page-heading {
    margin: -19px -16px 30px -16px;
    position: relative;
    padding: 30px 15px;
    color: rgba(255,255,255,.5);
    background-color: #67844c;
    font-size: 1.25rem;
    background-image: url(/images/bg.png);
}

.navbar-stocks {
    background-color: #1e4324;
}

.should-i-buy .search {
    height: 45px;
}