<script src="https://cdn.jsdelivr.net/npm/luxon@1.24.1"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0-alpha/dist/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1"></script>
<script src="~/Scripts/Chart/chartjs-chart-financial.js"></script>


<div style="width:1000px">
    <canvas id="chart"></canvas>
</div>
<script src="~/Scripts/Chart/chart.js"></script>