@model List<Lychee.Stocks.InvestagramsApi.Models.Social.TrendingStock>

@foreach (var item in Model)
{
    <p>
        @Html.ActionLink(item.Stock.StockCode, "StockAnalysis", "Stock", new {stockCode = item.Stock.StockCode}, new {target= "_blank"})
    </p>
}